<%-include('../partials/header')-%>
<%-include('../partials/navbar')-%>
<div class="home">
    <div class="content">
        <h1>Test-English  & <br><span>Take your learning with you! </span> </h1>
        <p class="par"> This online level test will give you an approximate indication of the English level you are working towards or completing. You can use the result to help you find learning materials on our website that is appropriate 
            for your English language ability
            <br> join??</p>
            <button class="cn"><a href="/users/signup">JOIN US</a></button>
             
               
    </div>

</div>
<%-include('../partials/end')-%> 